page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #20333a;
  background: #f6f7f9;
}

.scrollarea {
  flex: 1;
  overflow-y: hidden;
}

.log-item {
  margin-top: 20rpx;
  color: #617478;
  text-align: center;
}

.log-item:last-child {
  padding-bottom: env(safe-area-inset-bottom);
}
